/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

::-moz-selection {
    padding: 0;
    margin: 0;
    color: #fffc03;
    text-decoration: none;
    text-shadow: 0 0 2px #ffffff, 0 0 5px #c2e5ff;
    background: #0e3f86;
}

::selection {
    padding: 0;
    margin: 0;
    color: #fffc03;
    text-decoration: none;
    text-shadow: 0 0 2px #ffffff, 0 0 5px #c2e5ff;
    background: #0e3f86;
}


/** Element of typography,
/* see http://lamb.cc/typograph/
*/

body { font-size:96%; line-height:1.25; text-align:center; }
#page {
    margin:0 auto;
    border:1px solid #eff8ff;
    -webkit-box-shadow:  1px 1px 1px 1px rgba(178, 184, 195, 0.94);
    box-shadow:  1px 1px 1px 1px rgba(178, 184, 195, 0.94);
    width:48.8em;
    min-height:78.8528em;
    background-color: #fff;
}
#textblock { margin: 4.29168em 8.5333em 12.3333em 3.66667em; }
h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:1.5em; padding:1.45833em 0; }
h2 { font-size:1.33334em; padding:1.25em 0; }
h3 { font-size:1.16666em; padding:1.51786em 0; }




body {
    background-color: #ffffff;
    font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif;
    //margin-top: 1em;
}

p {
    margin: 1em 0;
}

a {
    color: #00a;
}

a:hover {
    color: black;
}

a:visited {
    color: #6a807d;
}

blockquote {
    font-style: italic;
    padding-left: 1em;
    border-left: 4px solid rgba(136, 153, 138, 0.49);
}

ul {
    margin-top: 1em;
}

pre {
    margin-top: 1em;
}

table td {
    padding: 0 .5em;
}

iframe {
    margin-top: 1em;
    margin-bottom: 1em;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

ul.posts li {
    line-height: 1.75em;
}

ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
    font-size: 120%;
    text-align: left;
    width: 80%;
    margin: 2em auto 4em auto;
    top: 10%;
}

.menu {
    position: fixed;
    color: #316ab9;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0em;
    border-bottom: 4px solid #eee;
    background-color: rgba(146, 193, 255, 0.60);
}

.menu a {
    color: #2d5682;
}

#home {
    margin-top: 2em;
}

.title {
    color: #316ab9;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 6em;
}

.site .title a {
    color: #2d5682;
}

.site .title a:hover {
    color: black;
}

.site .title a.extra {
    color: #aaa;
}

.site .title a.extra:hover {
    color: black;
}

.site .meta {
    color: #aaa;
}

.site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
}

.site .footer .contact {
    float: left;
    margin-right: 3em;
}

.site .footer .contact a {
    color: #8085C1;
}

.site .footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}

.site .footer .rss img {
    border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/*#post {
    margin-bottom: 2em;
    font-size: 110%;
}
*/

/* standard */

pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

ul,
ol {
    margin-left: 1.35em;
}

code {
    font-family: Menlo, Monaco, "Andale Mono", "Lucida console", "Courier New", monospace;
    font-size: 80%;
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
    border-radius: .4em;
    max-width: 40%;
}

pre code {
    border: none;
    padding: 0;
    max-width: 40%;
}

img {
    border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search {
    font-family: Menlo, Monaco, "Andale Mono", "Lucida console", "Courier New", monospace;
    font-size: 75%;
    color: #0282d5;
    border: 1px solid #5b8ddd;
    background-color: #f1f8ff;
    padding: 0.25em 0.25em;
    border-radius: .25em;
}




